<footer class="footer">

  <div class="consulta">
      <a href="https://www.vicentelopez.gov.ar/SAT/pages/externos/formulario_consultas.xhtml" target="_blank">
      <img src="https://www.vicentelopez.gov.ar/static-iipp/p/IIPP/banners/inicio/Consultas_y_Reclamos.png" alt="Consultas y reclamos" class="consulta__imagen">
      </a>
  </div>


  <div id="numeros-emergencia" class="numeros-utiles">
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">147</div>
      <div class="numeros-utiles__nombre">
        Atención al vecino
      </div>
    </div>
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">100</div>
      <div class="numeros-utiles__nombre">
        Bomberos
      </div>
    </div>
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">911</div>
      <div class="numeros-utiles__nombre">
        Policía
      </div>
    </div>
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">107</div>
      <div class="numeros-utiles__nombre">
        Emergencias
      </div>
    </div>
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">108</div>
      <div class="numeros-utiles__nombre">
        Emergencia Social
      </div>
    </div>
    <div class="numeros-utiles__numero">
      <div class="numeros-utiles__telefono">109</div>
      <div class="numeros-utiles__nombre">
        Seguridad y Emergencias
      </div>
    </div>
  </div>
  <div class="fin-footer">
    <div class="fin-footer__menu">
      <div class="fin-footer__seccion fin-footer__seccion--typ">
        <div class="fin-footer__titulo-menu">Trámites y Pagos</div>
        <ul class="fin-footer__lista">
          <li class="fin-footer__item"><a routerLink="/tramite/abl">Alumbrado, Limpieza, <br>Conservación de la Vía Pública <br>y Servicios Varios</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/automotor">Automotores</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/motovehiculos">Motovehículos</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/embarcaciones">Embarcaciones</a></li>
        </ul>
      </div>
      <div class="fin-footer__seccion fin-footer__seccion--dyp">
          <div class="fin-footer__titulo-menu">Declaraciones Juradas</div>
          <ul class="fin-footer__lista">
            <li class="fin-footer__item"><a routerLink="/tramite/regimenSimplificado">Régimen Simplificado</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/inspeccionSegHig">Inspección por Seguridad<br>e Higiene</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/publicidad">Publicidad y Propaganda</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/oep">Ocupación o Uso de<br>Espacios Públicos</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/antenas">Antenas</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/mantenimientoVial">Mantenimiento Vial<br>Municipal</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/ingresosBrutos">Ingresos Brutos</a></li>
            <li class="fin-footer__item"><a routerLink="/tramite/serviciosVarios">Servicios Varios (Motores)</a></li>
          </ul>
        </div>
      <div class="fin-footer__seccion fin-footer__seccion--ot ">
        <div class="fin-footer__titulo-menu">Otros Trámites</div>
        <ul class="fin-footer__lista">
          <li class="fin-footer__item"><a routerLink="/tramite/catastro">Catastro</a></li>
          <li class="fin-footer__item"><a href="https://www.vicentelopez.gov.ar/cobros_fiscalizacion/" [target]="'_blank'">Estación Sanitaria</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/derechosCementerio">Derechos de Cementerio</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/piletas">Revisación Médica<br>para Pileta</a></li>
          <li class="fin-footer__item"><a routerLink="/tramite/coworking">Coworking</a></li>
        </ul>
      </div>
      <div class="fin-footer__seccion fin-footer__seccion--columna fin-footer__seccion--sin-lista">
        <div class="fin-footer__seccion--id">
            <div class="fin-footer__titulo-menu">Información y Datos &Uacute;tiles</div>
            <ul class="fin-footer__lista">
              <li class="fin-footer__item"><a [routerLink]="['/info','datosUtiles']">Información y Datos &Uacute;tiles</a></li>
              <li class="fin-footer__item"><a [routerLink]="['/info','preguntasFrecuentes']">Preguntas Frecuentes</a></li>
              <li class="fin-footer__item"><a [routerLink]="['/info','calendarioTributario']">Calendario Tributario</a></li>
              <li class="fin-footer__item"><a [routerLink]="['/info','normativaTributaria']">Normativa Tributaria</a></li>
              <li class="fin-footer__item"><a [routerLink]="['/info','gobiernoAbierto']">Gobierno Abierto</a></li>
              <li class="fin-footer__item"><a [routerLink]="['/info','culturaFiscal']">Cultura Fiscal</a></li>
            </ul>
          </div>
          <div class="fin-footer__titulo-menu fin-footer__titulo-menu--con-link">
            <a href="#" class="fin-footer__titulo-link" [routerLink]="['/turnos']">Turnos Online</a>
          </div>
          <div class="fin-footer__titulo-menu fin-footer__titulo-menu--con-link">
            <a href="#" class="fin-footer__titulo-link" [routerLink]="['/novedades','lista']">Novedades</a>
          </div>
          <div class="fin-footer__titulo-menu fin-footer__titulo-menu--con-link">
            <a href="https://www.vicentelopez.gov.ar/SAT/pages/externos/formulario_consultas.xhtml" target="_blank" class="fin-footer__titulo-link">Contactanos</a>
          </div>
          <div class="fin-footer__titulo-menu fin-footer__titulo-menu--con-link">
            <a [routerLink]="['/inicio#numeros-emergencia']" class="fin-footer__titulo-link">Números de Emergencia</a>
          </div>
      </div>
    </div>
  </div>
</footer>
