<div class="contenedor-medios">
    <a [routerLink]="['/tramite/abl/mp']" class="contenedor-medios__link">
      Alumbrado, Limpieza, Conservación de la Vía Pública y Servicios Varios (ALCVP y SV)
    </a>
    <a [routerLink]="['/tramite/automotor/mp']" class="contenedor-medios__link">
      Automotores
    </a>
    <a [routerLink]="['/tramite/motovehiculos/mp']" class="contenedor-medios__link">
      Motoveh&iacute;culos
    </a>
    <a [routerLink]="['/tramite/regimenSimplificado/mp']" class="contenedor-medios__link">
      R&eacute;gimen Simplificado para Comercio e Industria
    </a>
    <a [routerLink]="['/tramite/inspeccionSegHig/mp']" class="contenedor-medios__link">
      Inspección de Seguridad e Higiene y Servicios Especiales de Limpieza e Higiene
    </a>
    <a [routerLink]="['/tramite/publicidad/mp']" class="contenedor-medios__link">
      Publicidad y Propaganda
    </a>
    <a [routerLink]="['/tramite/oep/mp']" class="contenedor-medios__link">
      Ocupaci&oacute;n o Uso de Espacios Públicos
    </a>
    <a [routerLink]="['/tramite/antenas/mp']" class="contenedor-medios__link">
      Emplazamiento y/o Verificaci&oacute;n de Antenas
    </a>
    <a [routerLink]="['/tramite/mantenimientoVial/mp']" class="contenedor-medios__link">
      Mantenimiento Vial Municipal
    </a>
    <a [routerLink]="['/tramite/derechosCementerio/mp']" class="contenedor-medios__link">
      Derechos de Cementerio
    </a>
    <a [routerLink]="['/tramite/serviciosVarios/mp']" class="contenedor-medios__link">
      Servicios Varios
    </a>
    <a [routerLink]="['/tramite/piletas/mp']" class="contenedor-medios__link">
      Revisaci&oacute;n M&eacute;dica para Pileta

    </a>
</div>