p{
  font-size: 1.4rem;
  text-align: justify;
}

.img{
  width: 25rem;
}

.coherencia {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
}

.link-poder-ciudadano{
  display:block;
  align-self: center;
  margin-top: 4rem;
}
