<div class="inicio__iYh--contenedor">
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','datosUtiles']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-pdf.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Información y<span class="margen-mobile"></span><br>Datos Útiles</div>
        </a>
    </div>
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','preguntasFrecuentes']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-pregunta.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Preguntas Frecuentes</div>
        </a>
    </div>
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','calendarioTributario']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-calendario.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Calendario Tributario</div>
        </a>
    </div>
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','normativaTributaria']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-libro.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Normativa Tributaria</div>
        </a>
    </div>
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','gobiernoAbierto']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-share.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Gobierno Abierto</div>
        </a>
    </div>
    <div class="inicio__iYh--card u-scale-sm">
        <a [routerLink]="['/info','culturaFiscal']">
            <div class="contenedor-iconos__icono contenedor-iconos__icono--grande contenedor-iconos__icono--mas-padding-arriba">
                <div class="contenedor-iconos__svg">
                    <img src="assets/png/Iconos-billetera.png" alt="" class="contenedor-iconos__img">
                </div>
            </div>
            <div class="inicio__iYh--texto">Cultura Fiscal</div>
        </a>
    </div>
</div>