<p class="tramites-pagos__texto u-margin-bottom-xl">
  Programa de Conciencia Tributaria y Construcción <br> de Ciudadanía
</p>
<button class="acordeon__boton-acordeon" [routerLink]="['/info','coherenciaFiscal']">
  <span class="u-text-bold acordeon__texto-boton--grande">Prop&oacute;sitos y Objetivos</span>
</button>
<button class="acordeon__boton-acordeon u-margin-top-xs" [routerLink]="['/info','cuentosAbuelos']">
  <span class="u-text-bold acordeon__texto-boton--grande">Programa "Cuentos por Abuelos"</span>
</button>