.contenedor-iconos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    &--inm {
        justify-content: center;
    }
    &--veh {
        justify-content: space-between;
        @include respond( bp3) {
            justify-content: space-evenly;
        }
        @include respond( bp4) {
            &>* {
                flex: 0 0 50%;
                margin-bottom: 1rem;
            }
        }
        @include respond( bp7) {
            & .contenedor-iconos__texto {
                font-size: 1.5rem;
            }
        }
    }
    &--ac {
        &>* {
            flex: 0 0 25%;
            @include respond( bp3) {
                flex: 0 0 33%;
            }
            @include respond( bp5) {
                flex: 0 0 100%;
                & br {
                    display: none;
                }
            }
            @include respond( bp7) {
                flex: 0 0 100%;
                margin-bottom: 1.5rem;
            }
        }
    }
    &--ot {
        &>* {
            flex: 0 0 25%;
            @include respond( bp5) {
                flex: 0 0 100%;
                margin-bottom: 1rem;
                & br {
                    display: none;
                }
            }
            @include respond( bp7) {
                flex: 0 0 100%;
                margin-bottom: 1.5rem;
            }
        }
    }
    &--borde {
        border: 2px solid $color-white;
        border-radius: 50%;
        & * {
            fill: $color-white;
        }
    }
    &__icono {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.1rem;
        &--mas-padding-arriba {
            padding-bottom: 0;
            padding-top: 3.5rem;
        }
        @include respond( bp7) {
            padding: 0 1.1rem;
        }
    }
    &__icono--grande &__svg--icono {
        height: 7rem;
        width: 7rem;
    }
    &__svg {
        padding: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--inmueble {
            background-color: $color-primary;
        }
        &--vehiculo {
            background-color: $color-secondary;
        }
        &--ac {
            background-color: $color-tertiary;
        }
        &--icono {
            height: 5rem;
            width: 5rem;
            fill: $color-grey-light-3;
        }
    }
    &__recuadro {
        border-radius: 1rem;
        background-color: $color-tertiary;
        width: 100%;
        &--ot {
            background-color: $color-secondary;
        }
    }
    &__texto {
        font-size: 1.8rem;
        color: #454446;
        font-weight: 700;
        margin-top: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &__recuadro {
            font-size: 1.8rem;
            color: $color-primary-lightest;
            font-weight: 600;
            margin-bottom: 1.5rem;
            min-height: 6rem;
            @include respond( bp6) {
                height: auto;
                font-size: 2.5rem;
            }
            @include respond( bp7) {
                min-height: 4rem;
                font-size: 2rem;
            }
        }
    }
}

.grande {
    width: 12rem;
}