.container-novedades{

    padding: 0 25rem;
    padding-bottom: 15rem;

    @include respond( bp1 ){
      padding: 0 10rem;
      padding-bottom: 5rem;
    }

    @include respond( bp2 ){
      padding: 0 5rem;
    }

    @include respond( bp4 ){
      padding: 0 2rem;
    }

    &__titulo {
        font-size: 3rem;
        color: $color-primary-dark;
        font-weight: bold;
        text-align: center;
        padding:4rem 0;
    }

    &__lista{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__novedad{
        flex: 0 0 48%;
        padding:1rem;

        @include respond( bp7 ){
            flex:0 0 100%;
        }
    }

}
