<div class="u-line-height-default">
    <h4><b>Visi&oacute;n</b></h4>

    <p>Ser un EQUIPO que garantice los recursos tributarios con equidad, justicia y calidad, para promover el bienestar y el desarrollo de la&nbsp;comunidad de Vicente L&oacute;pez, mediante una gesti&oacute;n comprometida con la eficiencia, la transparencia
        y la participaci&oacute;n.</p>
    <br>
    <h4><b>Responsabilidades Primarias</b></h4>

    <p>Corresponde a la Secretar&iacute;a de Ingresos P&uacute;blicos asistir al Intendente en todo lo inherente a sus competencias, de acuerdo con los objetivos que se enuncian a continuaci&oacute;n:
    <br />
    <ul class="visiones">
        <li>Garantizar los recursos econ&oacute;micos y financieros para satisfacer las demandas y necesidades de los vecinos de Vicente L&oacute;pez mediante servicios tributarios transparentes, eficientes y de calidad</li>
        <li>Programar, administrar y coordinar las tareas de obtenci&oacute;n de recursos tributarios mediante la asignaci&oacute;n, supervisi&oacute;n y optimizaci&oacute;n de capacidades y competencias de los agentes municipales</li>
        <li>Planificar y optimizar las tareas de verificaci&oacute;n, fiscalizaci&oacute;n y recupero de las obligaciones tributarias de los contribuyentes mediante acciones, procesos y sistemas de cobranzas continuo, an&aacute;lisis fiscal y percepci&oacute;n de riesgo</li>
        <li>Facilitar y simplificar el cumplimiento de la responsabilidad tributaria de los contribuyentes mediante la instrumentaci&oacute;n de sistemas, plataformas y aplicativos multicanales de ventanilla &uacute;nica y autogesti&oacute;n de tr&aacute;mites, consultas y pago</li>
        <li>Actualizar, optimizar e integrar las bases catastrales (f&iacute;sica y econ&oacute;mica) mediante la unificaci&oacute;n de sistemas inform&aacute;ticos, carga masiva de datos, censos, operativos y trabajos de campo</li>
        <li>Actualizar y depurar las bases tributarias mediante intercambios de informaci&oacute;n interjurisdiccional y organismos especializados p&uacute;blicos y privados para mejorar la gesti&oacute;n de los procesos, tr&aacute;mites y tributos municipales</li>
        <li>Analizar e instrumentar pol&iacute;ticas, procedimientos y acciones orientados a la armonizaci&oacute;n tributaria y a la correcta asignaci&oacute;n de potestades tributarias entre jurisdicciones del orden municipal, provincial y nacional para mejorar los indicadores de autonom&iacute;a, correspondencia y responsabilidad fiscales</li>
        <li>Dise&ntilde;ar y desarrollar programas y acciones de capacitaci&oacute;n, formaci&oacute;n y transferencia de conocimiento sobre tributaci&oacute;n local, procedimientos tributarios, tecnolog&iacute;a aplicada, cultura fiscal, responsabilidad ciudadana y el valor social de los tributos</li>
        <li>Generar, administrar y monitorear indicadores, estad&iacute;sticas y reportes gestionales, estrat&eacute;gicos y operativos de calidad para la toma de decisiones en materia fiscal-tributaria.</li>
        <li>Impulsar, gestionar e implementar proyectos de mejora continua de los procesos transversales de la administraci&oacute;n de ingresos tributarios</li>
    </ul>
</div>