<div class="contenedor">

    <p class="u-margin-bottom-md">La disponibilidad de datos impacta en la capacidad de toma de desiciones.<br />La apertura motiva un rol m&aacute;s activo en los ciudadanos, e incentiva y enriquece<br />su participaci&oacute;n en beneficio de nuestra comunidad.</p>

    <div class="contenedor-responsabilidad">
        <div class="contenedor-responsabilidad__logo"  style="margin-top:0;">
            <img src="assets/png/iconos-candado-abierto.png">
        </div>
        <h5><b>&iquest;Qu&eacute; son los portales de datos abiertos?</b></h5>
        <p>Son p&aacute;ginas donde se pueden encontrar gran cantidad de informaci&oacute;n p&uacute;blica en formato abierto bajo la premisa de la reutilizaci&oacute;n. Estados, empresas, emprendedores, estudiantes, medios de comunicaci&oacute;n y sociedad civil, entre otros, son algunos de los actores que reutilizan datos abietos para generar desarrollo econ&oacute;mico, promover la transparencia y aportar nuevas soluciones a problemas p&uacute;blicos.<br>El compromiso de la Secretar&iacute;a de Ingresos P&uacute;blicos es impulsar una gesti&oacute;n transparente, innovadora y abierta al ciudadano.</p>
    </div>

    <div class="contenedor-responsabilidad">
        <div class="contenedor-responsabilidad__logo">
            <img src="assets/png/iconos-lupa.png">
        </div>
        <h5><b>Responsabilidad Fiscal</b></h5>
        <h5>Control de Gesti&oacute;n Municipal y Construcci&oacute;n de Ciudadan&iacute;a</h5>
        <p>La participaci&oacute;n efectiva y comprometida de los vecinos de Vicente L&oacute;pez en el seguimiento de la ejecuci&oacute;n de cada presupuesto anual y en el control de los gastos de cada ejercicio fiscal es una condici&oacute;n necesaria
            e indispensable para mejorar los est&aacute;ndares de calidad en la gesti&oacute;n del gobierno municipal. Con la participaci&oacute;n ciudadana se fomenta la asignaci&oacute;n m&aacute;s eficiente de los recursos y la ejecuci&oacute;n m&aacute;s
            efectiva del gasto, al mismo tiempo que se promueve la construcci&oacute;n de una ciudadan&iacute;a activa, informada y responsable.</p>
    </div>
    <br>
    <div class="contenedor-botones u-margin-bottom-sm u-margin-top-sm">
        <div class="contenedor-botones__contenedor">
            <a class="contenedor-botones__boton" href="https://www.vicentelopez.gov.ar/SAT/pages/externos/formulario_consultas.xhtml" target="_blank">Contactanos</a>
        </div>
        <div class="contenedor-botones__contenedor">
            <a class="contenedor-botones__boton" href="https://www.vicentelopez.gov.ar/modernizacion/gobierno-abierto" target="_blank">Portal de Gobierno Abierto</a>
        </div>
        <div class="contenedor-botones__contenedor">
            <a class="contenedor-botones__boton" href="https://presupuestoparticipativo.vicentelopez.gob.ar/" target="_blank">Presupuesto Participativo</a>
        </div>
    </div>
</div>